.principle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color1);
  color: var(--primary-text);
}

.principle_inner {
  width: 90%; /*var(--inner-width);*/
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 2rem 0;
}

.principle_text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  word-break: break-word;
}
.principle_text h1{
    margin-bottom: 1rem;
}
.principle_text p{
    margin-bottom: 1rem;
}

.principle_image_container {
  display: table;
  
}

.principle_image {
  width: auto;
  height: auto;
  max-width: 100%;
  border: solid 2px var(--secondary-text-mid);
  border-radius: clamp(40px, 20%, 80px) 0 clamp(40px, 20%, 80px) 0;
}
.principle figcaption {
  display: table-caption;
  caption-side: bottom;
  padding-bottom: 1rem;
  color: var(--secondary-text-mid);
}
.principle figcaption span{
    font-size: 0.8rem;
    color: var(--primary-text);
}

@media screen and (max-width: 480px) {
  .principle_image_container {
    width: 100%;
  }
  .principle_image {
    width: 100%;
  }
  .principle_text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
