:root {  
  --primary-text: rgb(69, 69, 69);
  --secondary-text: #54F3FE;


  --primary-text-dark: #e9f5f5;
  --secondary-text-dark: #54F3FE;


  --secondary-text-mid: #328a90;
  --tertiary-text-mid: #7a7a7a;

  --primary-color: rgba(84, 245, 255, 1.0);
  --secondary-color: #4CE6C4;
  --tertiary-color: #60FCAE;
  --quaternary-color: #4CE66D;
  --quinary-color: #62FE54;

  --flair-color-100: rgba(84, 245, 255, 1.0);
  --flair-color-30: rgba(84, 245, 255, 0.3);
  --flair-color-20: rgba(84, 245, 255, 0.2);
  --flair-color-10: rgba(84, 245, 255, 0.1);

  --background-color1: lightgray;
  --background-color2: #c6c6c6;
  --background-color3: #414242;
  --slide-height: 90vw;

  --menu-height: 3rem;
  --menu-bg-color: #287378;
  --menu-color: white;
  --menu-paper: white;
  --menu-highlight: rgba(33, 176, 176, 0.5);

  --inner-width: 90%;
  --max-width: 1500px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);

}


@media (prefers-color-scheme: dark) {


  :root {

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color2)

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
